<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Новый Лог</title>
    </head>
    <body>
        <h3>Добавить Лог</h3>
        <form method="POST">
            <label>Текст События</label><br>
            <input type="text" name="message" /><br><br>
            <label>Уровень Лога</label><br>
            <input type="number" name="logLevel" /><br><br>
            <label>Уровень Лога(Текст)</label><br>
            <input type="text" name="levelStr" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>